# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# http://doc.scrapy.org/topics/scrapyd.html

[settings]
default = mycloudrack.settings

[deploy]
project = mycloudrack
url = http://localhost:6800/
username = xervmon
password = xervmon_pass
